// TODO 6 homepage styling
.page-home {
  background-color: #F6FFFA;
  h5 {
    font-weight: 300;
    margin-bottom: 15px;
  }
  .store-trend-categories {
    margin-top: 30px;
  }
  .store-trend-product {
    margin-top: 10px;
  }
}